body{
    background:lightblue;
    max-width: 800px;
    margin:fit-content;
    overflow-x:hidden;
    
    
}

.container{
    margin-top: 30px;
}

.logo{
    float:left;
    height: auto;
    margin-top: 30px;
    margin-left: -40px;
    cursor: pointer;

}


.top-items ul {
    width: 20%;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-left: 700px;
    text-align: right


}





#profile {
    float: right;
    margin-right: 400px;
    margin-left: 1050px; /* Adjust the value as needed */
    margin-top: -2px;
    margin-bottom: -30px;
    cursor: pointer;
}


li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


#user{
    margin-top: 20px;
}

.nav-item{
    display: inline-block;
    list-style: none;
    margin: 10px;

}

.navbar-nav{
    width: 10%;
    text-align: right;
    margin-right: 100px;
}

.navbar{
    margin-top: 5px;
    margin-right: 5px;
    height: 70px;
}

nav{
    background:#1a1a1a ;
    width: 150%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 15px;
    margin-right: 10px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max_height 0.5s;
}


.sub-menu{
    background-color:#fff ;
    padding: 20px;
    margin: 10px;

}

.user-info{
    display: flex;
    align-items: center;

}
.user-info h2{
    font-weight: 500;
    color: black;

}

.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 10px 0;

}

.sub-menu-link p{
    width: 80%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}

.sub-menu-link span{
    font-size: 10px;
    transition: transform 0.5s;
    margin-left: 5px;

}

.sub-menu-link:hover span{
    transform: translate(5px);

}
.sub-menu-link:hover p{
    font-weight: 600 ;

}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.search{
    --padding:30px
    width: 400px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 450px;
    transition: box-shadow 0.25s;
    justify-content: center;
    text-align: center;


}

.search:focus-within{
    box-shadow:0 0 2px rgba(0,0,0,0.75) ;

}

.search-input{
    font-size: 16px;
    font-family: 'Lexend' , sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;

}

.search-input::placeholder
.search-icon{
    color: rgba(0,0,0,0.25);
}


.homepage-text{
    margin-left: 380px;
    margin-top: 100px;
}

.homepage-text a{
    text-decoration: none;
    color: white;

}

.homepage-signin{
    margin-left: 420px;
    margin-top: 150px;

}


.homepage-signin a{
    text-decoration: none;
    color: white;

}


#home-signup{
    margin-left: 125px;
}

.trends{
    margin-left: 100px;
}

#RandB{
    margin-left: 50px;

}

#jazz{
    margin-left: 50px;
}



::-webkit-scrollbar{
    width: 30px;
}

::-webkit-scrollbar-track{
    background: #ccc;
}

::-webkit-scrollbar-thumb{
    background:gray;
    border-radius: 6px;
}


footer{
    position: relative;
    width: 154%;
    height: auto;
    padding: 50px 30px;
    background: gold;
    margin-top: 220px;
}


.page-footer{
    width:100%;
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr ;
    grid-gap: 100px;
}


.page-footer.about-us h2{
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;

}


.page-footer.about-us h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height:2px ;


}
.about-us p{
    font-weight: 500;
}


.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-gap:10px ;
}


.sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}


.sci li a:hover{
    background: black;
}


.sci li a .bx{
    color: purple;
    font-size: 20px;
}



.quicklinks{
    position: relative;
}


.quicklinks li{
    list-style: none;

}


.quicklinks li a{
    color: purple;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks li a:hover{
    color: white;
}


.top-items li a{
    text-decoration: none;
    color: gold;

}


.navbar-brand{
    text-decoration: none;
    color: gold;

}

.info{
    position: relative;

}


.info li{
    display: grid;
    grid-template-columns: 20px 1fr ;
    margin-bottom: 16px;
}



.info li span:nth-child(1){
    color:purple;
    font-size: 20px;
}


.info li span{
    color:purple ;
}


.info a{
    color: purple;
    text-decoration: none;

}


.info a:hover{
    color: white;
}


.copyright-text{
    width: 150%;
    background: black;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
}


@media (max-width:991px){
    footer{
        padding: 40px  ;

    }
    footer.page-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width:768px)
{
    footer.page-footer {
        grid-template-columns: repeat(2, 1fr);
    }

}

