body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    background-image: url(black_background.jpg);
}

.sign-in-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    text-align: center;
}
sign-in-form h1 {
    color: #1c8adb;
    margin-bottom: 30px;

}

.input-box{
    border-radius: 20px;
    padding: 10px ;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
img{
    width: 70px;
    margin-top: -50px;

}

#loginBtn{
    color:#fff ;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
    background-color: blue;

}
